<div class="row" style="margin-bottom: 19px;">
  <div class="col-md-3">
  <button type="button" ng-click="addItem($event)" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 新增</button>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group pull-right global-search">
          <label class="input-group-addon">区域</label>
          <input type="text" class="form-control" ng-model="filter.$"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group pull-right global-search">
        <label class="input-group-addon">配置</label>
        <input type="text" class="form-control" ng-model="filter.$"/>
      </div>
      </div>
      <div class="col-md-3">
        <div class="input-group pull-right global-search">
          <label class="input-group-addon">颜色</label>
          <input type="text" class="form-control" ng-model="filter.$"/>
        </div>
      </div>
      <div class="col-md-3">
       <div class="input-group pull-right global-search">
          <label class="input-group-addon">车型</label>
          <input type="text" class="form-control" ng-model="filter.$"/>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary">搜索</button>
  </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
    <thead>
    	<tr>
    		<th>区域</th>
    		<th>类型</th>
    		<th>品牌</th>
    		<th>负责人</th>
    		<th>客户经理</th>
    		<th>联系方式</th>
    		<th>配置</th>
    		<th>颜色</th>
    		<th>装饰</th>
    		<th>生成日期</th>
    		<th>价格</th>
    		<th>可售区域</th>
        <th style="width:174px;">操作</th>
    	</tr>
    </thead>
    <tbody>
    	<tr ng-repeat="item in formDataResult">
    		<td>{{item.region}}</td>
    		<td>{{item.type}}</td>
    		<td>{{item.dealer}}</td>
    		<td>{{item.principal}}</td>
    		<td>{{item.saleManager}}</td>
    		<td>{{item.telephone}}</td>
    		<td>{{item.configuration}}</td>
    		<td>{{item.carColor}}</td>
    		<td>{{item.carDecoration}}</td>
    		<td>{{item.productDate}}</td>
    		<td>{{item.price}}</td>
    		<td>{{item.sealRegion}}</td>
        <td>
         <button type="button" ng-click="detailItem($index,$event)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-eye-open"></i> 详细</button>
          <button type="button" ng-click="editItem($index,$event)" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-pencil"></i> 编辑</button>
          <button type="button" ng-click="delItem($index,$event)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> 删除</button>
         
        </td>
    	</tr>
    </tbody>
	</table>
</div>

<div class="row">
  <div class="col-md-2">
  <div class="input-group">
      <div class="input-group-addon">每页条数</div>
      <select ng-model="paginationConf.itemsPerPage" class="form-control" title="每页条目数"
                  ng-options="pageSize for pageSize in [10,20,30]">
          </select>
    </div>
    
  </div>
  <div class="col-md-7">
    <pagination style='margin:0px;'total-items="paginationConf.totalItems" ng-model="paginationConf.currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <div class="input-group-addon">GoTo</div>
      <input class="form-control" type="number" ng-model='paginationConf.currentPage' min='1' max='{{numPages}}'>
      <div class="input-group-addon">Page: {{paginationConf.currentPage}} / {{numPages}}</div>
    </div>
  </div>
</div>

<!-- 修改的弹出框 -->
<div class="modal fade bs-example-modal-sm" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myEditModalLabel">编辑</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">姓名:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="姓名" ng-model="dataEditItem.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">车型:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="车型" ng-model="dataEditItem.car">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">年龄:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control"placeholder="年龄" max='100' min="0" ng-model="dataEditItem.age">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- 新增的弹出框 -->
<div class="modal fade bs-example-modal-sm" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myAddModalLabelTitle">新增</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">姓名:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="姓名" ng-model="dataAddItem.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">车型:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="车型" ng-model="dataAddItem.car">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">年龄:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control"placeholder="年龄" max='100' min="0" ng-model="dataAddItem.age">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- 删除的弹出框 -->
<div class="modal fade bs-example-modal-sm" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myDelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myDelModalLabelTitle">提示</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center;margin-top: 13px;font-size: 18px;color: #BD5C5C;">你确定要删除这条信息吗？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 详细数据dialog -->
<div class="modal fade bs-example-modal-sm" id="myDetailModal" tabindex="-1" role="dialog" aria-labelledby="myDelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myDelModalLabelTitle">提示</h4>
      </div>
      <div class="modal-body">
        <p>这是是数据详细……</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
