<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CZERP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">首页</a></li>
      </ul>
      <ul class="nav navbar-nav">
         <li>
            <a ui-sref="customer.customer.addCustomer">客户管理</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{uerName}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <!--  <li><a>个人中心</a></li> -->
            <li><a data-toggle="modal" data-target="#myChangePassWordModal">修改密码</a></li>
            <li class="divider"></li>
            <li><a data-toggle="modal" data-target="#myModal">注销</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

      <!-- 注销弹窗 -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">提醒</h4>
      </div>
      <div class="modal-body">
        确定要注销吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
       <a href="logout"><button type="button" class="btn btn-primary">确定</button></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="myChangePassWordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">提醒</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      	<div class="col-md-12">
	        <div class="form-group">
	                <label class="col-md-3 control-label">
	                    旧密码：
	                </label>
	                <div class="col-md-9">
	                    <input ng-model="oldPassWord" type="text" class="form-control" placeholder="请填入旧密码">
	                </div>
	        </div>
	         <div class="form-group">
	                <label class="col-md-3 control-label">
	                    新密码：
	                </label>
	                <div class="col-md-9">
	                    <input ng-model="newPassWord" type="text" class="form-control" placeholder="请填入新密码">
	                </div>
	        </div>
	         <div class="form-group">
	                <label class="col-md-3 control-label">
	                    确认密码：
	                </label>
	                <div class="col-md-9">
	                    <input ng-model="newPassWordAgain" type="text" class="form-control" placeholder="请再次确认新密码">
	                </div>
	        </div>
	       </div>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="changPassWord($evnet)">确定</button>
      </div>
    </div>
  </div>
</div>