<h3>渠道客户录入</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">
            姓名：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入姓名">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            性别:
        </label>
        <div class="col-md-10">
            <select class="form-control" ng-model="gender" ng-options="opt for opt in genderOptions.gender"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            电话：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入电话">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            地区：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入地区">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            车型要求：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入车型要求">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            购车款预算：
        </label>
        <div class="col-md-10">
            <select class="form-control" ng-model="budget" ng-options="opt for opt in budgerOptions.budget"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            颜色要求：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入颜色要求">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            内饰要求：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入内饰要求">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            回访内容：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入回访内容">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            数量：
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="请填入数量">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" ng-click="backToPrevious()">返回</button>
        </div>
    </div>
</form>
