<div class="row">
 <div class="col-md-3">
 	
 </div>
 <div class="col-md-3">
 	<div class="input-group pull-right global-search">
          <label class="input-group-addon">初始日期</label>
           <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'3015-06-33'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
           <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-th"></i></button>
           </span>
     </div>
 </div>
 <div class="col-md-3">
 	<div class="input-group pull-right global-search">
          <label class="input-group-addon">结束日期</label>
         <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt1" is-open="opened1" min-date="minDate" max-date="'3015-06-33'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-th"></i></button>
          </span>
     </div>
 </div>
 <div class="col-md-3">
 	<button type="button" ng-click="searchReport($event)" class="btn btn-success">搜索</button>
 </div>
</div>
<div class="row">
 <div class="col-md-12">
 <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
    <thead>
    	<tr>
    		<th>员工</th>
    		<th>分组</th>
    		<th>成交次数</th>
    		<th>新增次数</th>
    		<th>回访条数</th>
    		<th>置顶条数</th>
    		<th>最后操作时间</th>
    	</tr>
    </thead>
    <tbody>
    	<tr ng-repeat="item in formDataResult">
    		<td>{{item.name}}</td>
    		<td>{{item.group}}</td>
    		<td>{{item.dealCount}}</td>
    		<td>{{item.addCount}}</td>
    		<td>{{item.remarkCount}}</td>
    		<td>{{item.topCount}}</td>
    		<td>{{item.date}}</td>
    	</tr>
    </tbody>
	</table>
<div class="row">
  <div class="col-md-2">
  <div class="input-group">
      <div class="input-group-addon">每页条数</div>
      <select ng-model="paginationConf.itemsPerPage" class="form-control" title="每页条目数"
                  ng-options="pageSize for pageSize in [10,20,30]">
          </select>
    </div>
    
  </div>
  <div class="col-md-7">
    <pagination style='margin:0px;'total-items="paginationConf.totalItems" ng-model="paginationConf.currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <div class="input-group-addon">GoTo</div>
      <input class="form-control" type="number" ng-model='paginationConf.currentPage' min='1' max='{{numPages}}'>
      <div class="input-group-addon">Page: {{paginationConf.currentPage}} / {{numPages}}</div>
    </div>
  </div>
</div>
</div>
 </div>
 </div>