<div class="row">
    <div class="col-md-3">
        <div class="form-group">
                <label class="col-md-8 control-label" style="margin-top: 10px;">
                    添加车型：
                </label>
                <div class="col-md-4">
                   <button type="button" class="btn btn-primary" ui-sref="index.carmanage.addCarType">新增</button>
                </div>
        </div>
        <div class="form-group">
                <label class="col-md-8 control-label" style="margin-top: 10px;">
                    车源Excel文件：
                </label>
                <div class="col-md-4">
                   <button type="button" class="btn btn-primary" ui-sref="index.carmanage.sourcedata">导入</button>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" role="form">
            
            <div class="form-group">
                <label class="col-md-3 control-label">
                    所在区域：
                </label>
                <div class="col-md-9">
                <!-- 东南西北 -->
                    <select class="form-control" ng-options="opt for opt in customerArea.area"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    类型：
                </label>
                <div class="col-md-9">
                <!-- 进口、国产、综合 -->
                    <select class="form-control" ng-options="opt for opt in customerArea.area"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    生产日期：
                </label>
                <div class="col-md-9">
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'3015-06-33'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-th"></i></button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    经销商：
                </label>
                <div class="col-md-9">
                    <input ng-model="$scope.addCarObject.customerManager" type="text" class="form-control" placeholder="请填入经销商名字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    负责人：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入负责人名字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    销售经理：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入销售经理名字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    大客户经理：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入大客户经理的名字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    具体车型：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入具体车型">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    配置：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入配置要求">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    颜色：
                </label>
                <div class="col-md-9">
                    <input ng-model="$scope.addCarObject.carColor" type="text" class="form-control" placeholder="请填入颜色">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    内饰：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入内饰">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label">
                    联系方式：
                </label>
                <div class="col-md-9">
                    <input ng-model="$scope.addCarObject.telphone" type="text" class="form-control" placeholder="请填入联系方式">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    成本价：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入成本价">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    销售价：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入销售价">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    置顶：
                </label>
                <div class="col-md-9">
                    <input type="radio" name="toTop"><label>是</label>
                    <input type="radio" name="toTop"><label>否</label>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label">
                    可售区域：
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请填入可售区域">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary" ng-click="backToPrevious()">返回</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

